body{
    background-color: #000000;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 20px;
    overflow: hidden;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
    
}

li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

li a:hover {
    background-color: #575757;
}
p {
    color: white;
    font-size: 18px;
    margin: 20px 0;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-image {
    margin-left: 40px;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    border: 5px solid #fff;
    margin-top: 50px;
}

.linguas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    color: white;
}
.lingua_individual {
    margin: 0 30px;
    padding: 0; /* Remove o padding para não distorcer o círculo */
    border-radius: 50%; /* Torna o item circular */
    background-color: white; /* Remove fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;   /* Ajuste conforme o tamanho desejado */
    height: 60px;
}

.lingua_individual img {
    width: 100px;   /* Ajuste conforme necessário */
    height: 100px;
    border-radius: 50%;      /* Torna a imagem circular */
    border: 5px solid purple;  /* Borda branca */
    object-fit: cover;       /* Garante que a imagem preencha o círculo */
    background-color: white;
}

.conjunto_linguas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_habilidades {
    width: 80%;
    margin: auto;
    margin-top: 75px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}